WBA_2_Phase1/src/chefkochXMLSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="recipe_incredients">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="slideshow">      
          <xs:complexType>
            <xs:sequence>
              <xs:element name="photo" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="id" use="optional"/>
                      <xs:attribute type="xs:short" name="width" use="optional"/>
                      <xs:attribute type="xs:short" name="height" use="optional"/>
                      <xs:attribute type="xs:string" name="alt" use="optional"/>
                      <xs:attribute type="xs:string" name="title" use="optional"/>
                      <xs:attribute type="xs:anyURI" name="src" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
       
        <xs:element name="incredients">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="incredient" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="amount"/>
                    <xs:element type="xs:string" name="unit"/>
                    <xs:element type="xs:string" name="name" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:anyURI" name="src" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
       
        <xs:element name="cooking">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="time"/>
              <xs:element type="xs:string" name="complexity"/>
              <xs:element type="xs:string" name="caloric_value"/>
              <xs:element type="xs:string" name="description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
       
        <xs:element name="comments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="comment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="user">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:anyURI" name="src"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="date"/>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
     
      <xs:attribute type="xs:short" name="id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>